.Alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(38, 50, 56, 0.5);
  z-index: 1000;
}

.AlertCard {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  background: var(--color-board);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 25%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 7px 7px rgba(38, 50, 56, 0.19), 0 4px 2px rgba(38, 50, 56, 0.23);
  text-align: center;
  line-height: 1.2rem;
  transition: background 0.25s ease-in-out;
}

.AlertMessage {
  margin-top: 0;
  color: var(--color-text);
  transition: color 0.25s ease-in-out;
}

.AlertButton {
  padding: 0.7rem 1rem;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(162, 102, 246, 1) 0%,
    rgba(203, 159, 249, 1) 90%
  );
  width: 7rem;
  color: var(--color-bg);
  border: 0;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 0.5rem;
  box-shadow: 0 7px 7px rgba(38, 50, 56, 0.19), 0 4px 2px rgba(38, 50, 56, 0.23);
  font-family: "Josefin Sans", sans-serif;
  transition: color 0.25s ease-in-out;
  cursor: pointer;
}

.Snake {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: var(--color-bg);
  transition: background 0.25s ease-in-out;
  height: 100vh;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Title {
  font-size: 1.4rem;
  margin: 0;
  color: var(--color-title);
  transition: color 0.25s ease-in-out;
}

.ThemeIcon {
  color: var(--color-title);
  transition: color 0.25s ease-in-out;
  cursor: pointer;
}

.Button {
  margin: -0.3rem 0.6rem;
  font-size: 2rem;
  color: var(--color-board);
  transition: color 0.25s ease-in-out;
  cursor: pointer;
}

.Console {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: calc(1.8vw + 2px);
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(203, 159, 249, 1) 0%,
    rgba(162, 102, 246, 1) 90%
  );
  box-shadow: 0 2px 2px rgba(38, 50, 56, 0.16), 0 2px 2px rgba(38, 50, 56, 0.23);
}

.Board {
  box-shadow: 0 7px 7px rgba(38, 50, 56, 0.19), 0 0px 2px rgba(38, 50, 56, 0.23);
  width: 90vw;
  border-radius: 1.8vw;
  z-index: 100;
  background-image: radial-gradient(
    circle farthest-corner at 10% 10%,
    var(--color-board) 0%,
    var(--color-bg) 70%
  );
  transition: background-image 0.25s ease-in-out;
}

.Card {
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 90vw;
  height: 7.5rem;
  margin-top: -1rem;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0 0 1.8vw 1.8vw;
}

.Control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FirstTryButton {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border: 0;
  background: var(--color-board);
  margin-right: 0.5rem;
  margin-top: 1rem;
  width: 5rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  color: var(--color-text);
  box-shadow: 0 2px 2px rgba(38, 50, 56, 0.16), 0 2px 2px rgba(38, 50, 56, 0.23);
  transition: background 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  cursor: pointer;
}

.Scores {
  color: var(--color-board);
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  transition: color 0.25s ease-in-out;
}

.Score {
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

@media screen and (min-width: 500px) and (max-width: 999px) {
  .Console {
    flex-direction: row;
    box-shadow: 2px 0 2px rgba(38, 50, 56, 0.16),
      2px 0 2px rgba(38, 50, 56, 0.23);
    border-radius: calc(1vw + 2px);
    background-image: radial-gradient(
      circle farthest-corner at 30% 20%,
      rgba(203, 159, 249, 1) 0%,
      rgba(162, 102, 246, 1) 90%
    );
  }

  .Board {
    width: auto;
    height: 38vw;
    border-radius: 1vw;
    box-shadow: 7px 0 7px rgba(38, 50, 56, 0.19), 0 0 2px rgba(38, 50, 56, 0.23);
  }

  .Card {
    flex-direction: column;
    width: 30vw;
    height: 38vw;
    border-radius: 0 1vw 1vw 0;
    margin-top: 0;
    margin-left: -1rem;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
  }

  .Header {
    padding: 1rem calc(12.5vw + 1rem);
  }

  .AlertCard {
    width: 60vw;
    height: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .Console {
    border-radius: calc(0.8vw + 2px);
  }

  .Board {
    width: 40vw;
    border-radius: 0.8vw;
  }

  .Card {
    width: 40vw;
    border-radius: 0 0 0.8vw 0.8vw;
  }

  .Header {
    padding: 1rem calc(30vw + 1rem);
  }

  .AlertCard {
    width: 30vw;
  }
}
